
.main-page {
    animation: move-right 1.5s ease-in-out;
}
@keyframes move-right{
    0%{
        transform: translate(-20rem,0);
    }
    100%{
        transform: translate(0,0);
    }
}